script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/main.js')
if pageTitle == "Contact"
  script(src='/js/contact.js')
if pageTitle == "Home"
  script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyDXP0K4KvOBS8znSY4WLisS_693a3FkOkI&sensor=true")
  script(src="/js/home.js")
