extends layout

block content
  .jumbotron
    .container.text-center
      .h1 DropnIn
      .row
        .col-lg-4.col-lg-offset-4
          img.img-responsive.img-rounded(src="http://placekitten.com/355/200")
      .row
        p A social networking app built around connecting through nearby events.
      .row
        .btn.btn-primary#signUp Sign up
  section
    .container
      .col-lg-4
        h3 Be Social
        img.img-responsive.img-rounded(src="http://placekitten.com/350/200")
        p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus id nibh blandit ultricies. 
        | Pellentesque placerat ac lacus at cursus. Maecenas tempus fringilla risus ut tempus. Pellentesque enim 
        | sem, aliquam at mi eget, porta accumsan augue. Vivamus nec adipiscing ligula. Aliquam augue sapien, volutpat 
        | et turpis quis, ullamcorper consectetur massa. Sed a enim nec purus malesuada malesuada. Praesent non 
        | ultricies augue, faucibus blandit quam. Nam enim felis, semper ac nisl eu, pellentesque porta nulla. 
        | Maecenas sit amet est commodo, ornare dolor sit amet, tincidunt elit. Morbi vel orci nec nibh sodales 
        | bibendum eu vitae augue. Integer sit amet nulla nisi. Vestibulum semper dolor in pretium accumsan.
      .col-lg-4
        h3 Be Adventurous
        img.img-responsive.img-rounded(src="http://placekitten.com/349/200")
        p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus id nibh blandit ultricies. 
        | Pellentesque placerat ac lacus at cursus. Maecenas tempus fringilla risus ut tempus. Pellentesque enim 
        | sem, aliquam at mi eget, porta accumsan augue. Vivamus nec adipiscing ligula. Aliquam augue sapien, volutpat 
        | et turpis quis, ullamcorper consectetur massa. Sed a enim nec purus malesuada malesuada. Praesent non 
        | ultricies augue, faucibus blandit quam. Nam enim felis, semper ac nisl eu, pellentesque porta nulla. 
        | Maecenas sit amet est commodo, ornare dolor sit amet, tincidunt elit. Morbi vel orci nec nibh sodales 
        | bibendum eu vitae augue. Integer sit amet nulla nisi. Vestibulum semper dolor in pretium accumsan.
      .col-lg-4
        h3 Be Professional
        img.img-responsive.img-rounded(src="http://placekitten.com/353/200")
        p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus id nibh blandit ultricies. 
        | Pellentesque placerat ac lacus at cursus. Maecenas tempus fringilla risus ut tempus. Pellentesque enim 
        | sem, aliquam at mi eget, porta accumsan augue. Vivamus nec adipiscing ligula. Aliquam augue sapien, volutpat 
        | et turpis quis, ullamcorper consectetur massa. Sed a enim nec purus malesuada malesuada. Praesent non 
        | ultricies augue, faucibus blandit quam. Nam enim felis, semper ac nisl eu, pellentesque porta nulla. 
        | Maecenas sit amet est commodo, ornare dolor sit amet, tincidunt elit. Morbi vel orci nec nibh sodales 
        | bibendum eu vitae augue. Integer sit amet nulla nisi. Vestibulum semper dolor in pretium accumsan.